#hydrogen {
    text-align: center;
}

.product-list .product {
    display: inline-block;
    margin: 4px
}

.product-list .product .image {
    width: 200px;
    height: 200px;
    background: center;
    background-size: cover;
    margin-bottom: 4px;
}

.product .name {
    margin-right: 4px;
}

.product .name button {
    margin: 8px
}

.money:after {
    content: '₴'
}
