@import url('https://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:300|PT+Sans|PT+Serif|Ubuntu|Ubuntu+Condensed');

body {
    font-family: 'Ubuntu', sans-serif;
    background: #edeef0;
}

.error.page {
    text-align: center;
    width: 100%
}

.error.page > img {
    display: inline-block;
    margin: 10vh auto;
}

.error.page.unavailable {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: white;
}

.error.page.development {
    margin-top: 20vh;
}

header {
    background: #213143 none repeat scroll 0 0;
    color: white;
    height: 58px;
    padding: 5px 0;
}

.header-container {
    display: block;
    margin: 0 auto !important;
    width: 1140px !important;
}

h2 {
    margin: 0;
}

.container {
    display: flex;
}

body {
}

.cabinet-right > * {
    padding: 15px 0 15px 15px;
}

.navigation h2 {
    color: #5d7593;
    font-size: 13px;
    letter-spacing: 1px;
    padding: 20px 0 18px 35px;
    text-transform: uppercase;
}

.navigation ul {
    margin: 0;
    padding: 0;
}

.navigation ul li {
    list-style: outside none none;
}

.navigation ul li a {
    border-left: 4px solid #1c2b3d;
    color: #a8b7c9;
    display: inline-block;
    font-family: ubuntu, serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 17px;
    padding: 10px 0 10px 30px;
    width: 100%;
}

.navigation ul li a i {
    padding-right: 20px;
}

.navigation ul li a:hover, .navigation ul li a.active {
    background: #2b3a4d;
    border-left: 4px solid #2980b9;
}

.cabinet-right {
    max-width: 885px;
    width: 100%;
}

.cabinet-right .top-widget {
    background: #28394c;
    color: white;
    display: flex;
}

.cabinet-right .top-widget .referral {
    border-right: 1px solid #49617f;
    padding-right: 15px;
}

.cabinet-right .top-widget .referral h2 {
    font-size: 24px;
    font-weight: 600;
    line-height: 26px;
}

.cabinet-right .top-widget .referral i {
    font-size: 14px;
    line-height: 26px;
}

.cabinet-right .top-widget .referral input {
    background: #2b3a4d none repeat scroll 0 0;
    border: 1px solid #1c2b3d;
    color: white;
    float: left;
    font-size: 14px;
    line-height: 14px;
    margin: 10px 0 0;
    max-width: 350px;
    padding: 13px 20px;
    width: 100%;
}

.cabinet-right .top-widget .balance-widget {
    background: white url("/img/bal_bg.png") no-repeat scroll left bottom;
    border-radius: 4px;
    margin: 0 15px;
    max-width: 445px;
    padding: 0 20px;
    width: 100%;
}

.cabinet-right .top-widget .balance-widget .balance-buttons .btn-primary {
    background-color: #2980b9;
    border-color: #1970a9;
    border-radius: 40px;
    color: #ffffff;
    margin: 0 5px 0 25px;
    padding: 5px 20px;
}

.btn-success {
    background-color: #2ecc71;
    border-color: #29b665;
    border-radius: 40px;
    color: #ffffff;
    margin: 0px;
    padding: 5px 20px;
}

.cabinet-right .content h1 {
    background: rgba(0, 0, 0, 0) url("/img/h1.png") no-repeat scroll left bottom;
    color: white;
    line-height: 46px;
    margin: 7px 0 30px;
    padding-left: 140px;
}

.cabinet-right .content .cabinet-main-middle .cabinet-informers {
    float: left;
    max-width: 566px;
}

.informer {
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
    float: left;
    height: 248px;
    margin-bottom: 30px;
    margin-right: 30px;
    padding: 11px;
    text-align: center;
    width: 253px;
    color: #ffffff;
}

.new-signups {
    border-bottom: 1px solid #e1e1e1;
    float: left;
    width: 274px;
}

.new-signups > ul {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: white none repeat scroll 0 0;
    border-color: -moz-use-text-color #d7d7d7 #d7d7d7;
    border-image: none;
    border-style: none solid solid;
    border-width: 0 1px 1px;
    margin: 0;
    min-height: 100px;
    padding: 0;
    overflow-y: scroll;
    max-height: 465px !important;
}

.new-signups > ul::-webkit-scrollbar {
    width: 10px;
    background: #f9f9f9;
}

.new-signups > ul::-webkit-scrollbar-thumb {
    border-width: 1px 1px 1px 2px;
    border-color: #777;
    background-color: #1C2B3D;
}

.new-signups > ul::-webkit-scrollbar-thumb:hover {
    border-width: 1px 1px 1px 2px;
    border-color: #555;
    background-color: #777;
}

.new-signups > ul::-webkit-scrollbar-track {
    border-width: 0;
}

.new-signups > ul::-webkit-scrollbar-track:hover {
    background-color: #2B3A4D;
}

.new-signups > h2 {
    color: #ffffff;
    font-weight: 100;
    font-size: 18px;
    text-align: center;
    background: #35c4f9 none repeat scroll 0 0;
    line-height: 18px;
    padding: 21px 0;
    text-transform: uppercase;
}

.cabinet-main-bottom {
    clear: both;
    width: 100%;
}

.new-signups > ul > li {
    list-style: none;
}

.new-signups .new-signup a {
    color: #494949;
    display: block;
    font-size: 14px;
    height: 82px;
    padding: 17px 0 17px 15px;
    width: 100%;
}

.new-signups .new-signup a .avatar {
    background-position: center center;
    background-size: 100% auto;
    border-radius: 50%;
    float: left;
    height: 50px;
    width: 50px;
    margin-right: 10px;
}

.new-signups .new-signup .avatar {

}

.cabinet-informers > .chess {
    background: #2980b9 url("/img/bg_chess.png") no-repeat scroll center bottom;
}

.cabinet-informers > .referral {
    background: #e67e22 url("/img/bg_ref.png") no-repeat scroll center bottom;;
}

.cabinet-informers > .enters {
    background: #2ecc71 url("/img/bg_stat.png") no-repeat scroll center bottom;;
}

.cabinet-informers > .new-friends {
    background: #2980b9 url("/img/bg_friends.png") no-repeat scroll center bottom;;
}

.cabinet-dossier {
    background: white none repeat scroll 0 0;
    border: 1px solid #e8e8ea;
    float: left;
    margin-bottom: 50px;
    margin-right: 30px;
    width: 253px;
}

.cabinet-dossier > h2 {
    color: #2f3b4c;
    font-size: 24px;
    padding: 30px 15px;
    text-align: center;
}

.cabinet-dossier > ul {
    margin: 0;
    padding: 0;
}

.cabinet-dossier ul li {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #e6e6e6;
    border-image: none;
    border-style: none none solid;
    border-width: 0 0 1px;
    font-size: 14px !important;
    list-style: outside none none;
    padding: 13px;
}

.cabinet-dossier ul li div {
    color: #777070;
    display: inline-block;
    font-family: open sans;
    font-size: 14px;
    font-weight: 300;
    height: 10px;
    line-height: 14px !important;
    min-width: 1px;
}

.cabinet-dossier > a {
    background: #fdad2a none repeat scroll 0 0;
    border: 1px solid #ed9d1a;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
    color: white;
    display: block;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 20px auto 25px;
    padding: 15px 15px 12px;
    text-align: center;
    text-transform: uppercase;
    width: 150px;
}

.cabinet-sponsor {
    background: white url("/img/bg_sponsor.png") no-repeat scroll 0 0 / 100% auto;
    border: 1px solid #1c2b3d;
    float: left;
    min-height: 280px;
    padding: 10px;
    width: 557px;
}

.step-1, .step-2.candidate, .login, .vip, .share {
    background: white none repeat scroll 0 0;
    border: 1px solid #e8e8ea;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
    margin: 50px auto 50px;
    padding: 77px 0 0;
    text-align: center;
    width: 570px;
}

.step-2.candidate {
    padding-bottom: 40px;
}

.step-2 .count {
    margin: 10px 0 15px;
}

.step-2 .name.widget {
    margin: 10px 0 5px !important;
}

.share-container {
    padding: 0 70px 50px;
}

.step-2.candidate > h1,
.login > h1,
.vip > h1,
.step-1 > h1,
.share > h1 {
    color: #1c2b3d;
    font-family: ubuntu, serif;
    font-size: 38px;
    font-weight: 600;
    line-height: 36px;
    margin: 3px 0 5px;
    text-transform: uppercase;
}

.step-2.candidate > h2,
.login > h2,
.vip > h2,
.step-1 > h2,
.share > h2 {
    font-size: 18px;
    font-weight: 400;
}

.page.step-1 > a,
.login > a,
.step-2.candidate > a,
.share-container > a {
    background: orange none repeat scroll 0 0;
    color: white;
    display: block;
    font-family: "Open Sans", serif;
    font-size: 16px;
    font-weight: 600;
    margin: 24px auto 65px;
    max-width: 200px;
    min-width: 140px;
    padding: 13px 20px;
    text-transform: uppercase;
}

.vip table tr td .btn.btn-primary {
    background: orange none repeat scroll 0 0;
    color: white;
    display: block;
    font-family: "Open Sans", serif;
    font-size: 16px;
    font-weight: 600;
    margin: 24px auto 20px;
    max-width: 200px;
    min-width: 140px;
    padding: 13px 10px;
    text-transform: uppercase;
    border: 0;
    border-radius: 0;
}

.vip tfoot {
    background: #f9fafd none repeat scroll 0 0;
    color: red;
}

.vip table {
    border: 1px solid #e4ebf7;
    color: #777070;
    font-size: 14px;
    margin: 31px auto 20px;
    text-align: left;
    width: 350px;
}

.vip caption {
    background: #f9fafd none repeat scroll 0 0;
    border-left: 1px solid #e3e3e3;
    border-right: 1px solid #e3e3e3;
    border-top: 1px solid #e3e3e3;
    color: #2f3b4c;
    font-size: 24px;
    font-weight: 600;
    padding-top: 16px;
    text-align: center;
    text-transform: uppercase;
}

.vip .commission {
    display: block;
    text-align: center;
    width: 100%;
    margin: 0 0 10px;
}

.vip .wtf a {
    color: #114077;
    display: inline-block;
    text-decoration: underline;
    width: 100%;
}

.vip .wtf i {
    color: #525252;
}

.vip a.back {
    color: #8e8e8e;
    display: inline-block;
    font-size: 13px;
    font-style: italic;
    margin: 20px 0 50px;
    text-decoration: underline;
}

.use-payeer {
    display: inline-block;
    margin: 15px 170px 0;
}

.header-container > * {
    display: inline-block;
}

label {
    float: left;
    font-size: 16px;
    font-weight: 100;
    margin: 0;
    padding: 18px 0 0;
    width: 210px;
}

.form-control {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: transparent none repeat scroll 0 0;
    border-color: #1c2b3d;
    border-image: none;
    border-radius: 0;
    border-style: none none solid;
    border-width: 0 0 1px;
    box-shadow: 0 0 0 0;
    width: 300px;
}

nav ul {
    float: left;
    margin: 0;
    padding: 0;
}

nav ul li {
    float: left;
    list-style: outside none none;
    padding: 15px 20px;
}

nav ul li a {
    color: #ffffff;
}

.about {
    background: rgba(0, 0, 0, 0) url("/img/back_profile.png") repeat scroll 0 0 / 100% auto;
    height: 265px;
    padding: 20px;
}

.about .cabinet.avatar {
    background-position: center center;
    background-size: 100% auto;
    border: 2px solid whitesmoke;
    border-radius: 100%;
    height: 100px;
    margin: 0 auto 20px;
    width: 100px;
}

.about .name {
    color: white;
    font-size: 26px;
    font-weight: 600;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
}

.about .active {
    color: #9fd9ff;
    text-align: center;
}

.balance-income {
    color: black;
}

.balance-income .income:after, .balance-income .today:after, .informer.chess .amount:after, .informer.chess .today:after, .informer.referral .amount:after, .informer.referral .today:after, .balance-content .balance:after, .money:after {
    content: "₽";
}

.balance-income .income:before, .balance-income .today:before, .informer .amount:before {
    content: "+";
}

.informer .today:before {
    content: "Сегодня: +";
}

.amount {
    font-family: pt serif, serif;
    font-size: 42px;
    font-weight: 600;
    margin-top: 20px;
}

.informer > i {
    border-bottom: 1px solid whitesmoke;
    display: block;
    font-family: ubuntu italic, serif;
    font-size: 18px;
    height: 85px;
    line-height: 21px;
    margin: 6px 50px 25px;
    padding: 0 0 28px;
    text-align: center;
}

footer {
    background: #213143 none repeat scroll 0 0;
    padding: 10px 0;
}

.footer-container {
    margin: 0 auto;
    max-width: 1140px;
}

.about .name .last {
    display: block;
    width: 100%;
}

.active .btn.btn-primary {
    background: #2980b9 none repeat scroll 0 0;
    border: 1px solid #3990c9;
    border-radius: 50px;
    display: block;
    margin: 3px auto;
    padding: 4px 4px 2px;
    text-transform: uppercase;
    width: 130px;
}

.status {
    display: block;
    margin: 1px 0 7px;
}

.cabinet-sponsor-name {
    color: white;
    text-align: right;
}

.cabinet-sponsor-name > h2 {
    font-size: 24px;
}

.cabinet-sponsor-name > i {
    display: inline-block;
    font-size: 14px;
    line-height: 16px;
    margin: 5px 0 0;
    padding-left: 30%;
    width: 100%;
}

.cabinet-sponsor-name .name {
    color: white;
    font-size: 30px;
    margin: 10px 0;
}

.vip tr {
    border-bottom: 1px solid #e3e3e3;
    line-height: 30px;
}

.vip tr td {
    padding: 10px;
}

a:focus {
    outline: medium none;
}

.vip .wtf {
    display: none;
}

.step-1 .avatar {
    width: 50px;
    height: 50px;
    background-size: 100%;
    border-radius: 50%;
    float: left;
}

.step-1 .referral {
    width: 250px;
    margin: 0 auto;
}

.step-1 .name {
    display: block;
    height: 70px;
    width: 100%;
    text-align: left;
    padding-left: 60px;
    font-size: 18px;
    font-weight: 600;
    padding-top: 10px;
}

.attention {
    color: red;
    margin-bottom: 14px;
}

button.no {
    background: #b94a48;
    color: wheat;
    border: 0;
    padding: 10px 25px;
    margin: 20px 0 40px;
}

.page.step-1.signup > a {
    margin: 24px auto 35px;
}

.step-2 .list {
    padding: 20px;
}

.step-2 .list > div {
    height: 30px;
    margin: 10px auto;
    width: 430px;
}

.balance-right .balance {
    color: #34495e;
    float: left;
    font-family: "pt serif", serif;
    font-size: 40px;
    font-weight: 100;
    line-height: 1;
    width: 36%;
}

.balance-content {
    margin: 29px 0 0;
}

.structure .avatar {
    background-size: 100% auto;
    border-radius: 50%;
    float: left;
    height: 50px;
    width: 50px;
}

li.referral {
    height: 60px;
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

.cabinet-page.structure > ul {
    background: white none repeat scroll 0 0;
    border: 1px solid #f9f9f9;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    margin: 0;
    padding: 20px;
}

.structure .name {
    float: left;
    padding: 13px;
}

.transfer .table {
    background: white none repeat scroll 0 0;
    border: 1px solid #f9f9f9;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.4);
}

.balance-income .today.money {
    color: #35c4f9;
    line-height: 1;
}

.btn {
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 -1px 0 rgba(255, 255, 255, 0.2) inset;
}

.btn:hover {
    box-shadow: 0 0px 0 rgba(255, 255, 255, 0) inset, 0 0px 0 rgba(255, 255, 255, 0) inset;
}

.btn-success:hover {
    background-color: #2ecc71 !important;
    border: 0 !important;
}

.evgeniy {
    text-transform: uppercase;
}

body > #app > .cabinet.layout {
    background-attachment: scroll !important;
    background-clip: border-box !important;
    background-color: rgba(0, 0, 0, 0) !important;
    background-image: url("/img/back.jpg") !important;
    background-origin: padding-box !important;
    background-repeat: no-repeat !important;
    background-size: 100% auto !important;
}

.cabinet-right .content .form-group {
    background: #eeeff1 none repeat scroll 0 0;
    border-left: 1px solid #dedfdf;
    border-right: 1px solid #dedfdf;
    margin: 0;
    max-width: 560px;
    padding: 10px 15px;
}

@-webkit-keyframes pulsate {
    50% {
        color: #fff;
        text-shadow: 0 -1px rgba(0, 0, 0, .3), 0 0 5px #ffd, 0 0 8px #fff;
    }
}

@keyframes pulsate {
    50% {
        color: #fff;
        text-shadow: 0 -1px rgba(0, 0, 0, .3), 0 0 5px #ffd, 0 0 8px #fff;
    }
}

.img.evgeniy.banner img {
    display: block;
    float: left;
    max-width: 100%;
    width: 640px;
}

a.evgeniy {
    background: #e67e22 none repeat scroll 0 0;
    border-radius: 3px;
    color: white;
    display: block;
    float: left;
    font-size: 18px;
    font-weight: 600;
    margin: 35px 0 0 10px;
    padding: 8px 16px;
    text-align: center;
    width: auto;
}

a.evgeniy:hover {
    background: #e72 none repeat scroll 0 0;
}

.img.evgeniy.banner {
    background: white none repeat scroll 0 0 !important;
    height: 136px;
    margin: 0 auto;
    max-width: 100%;
    padding: 10px;
}

.cabinet-sponsor-social {
    float: right;
    margin-top: 35px;
}

.social {
    float: right;
    height: 40px;
    margin-right: 10px;
    width: 40px;
}

.google {
    background: rgba(0, 0, 0, 0) url("/img/soc.jpg") repeat scroll 459px 219px / 237px auto;
}

.twitter {
    background: rgba(0, 0, 0, 0) url("/img/soc.jpg") repeat scroll 417px 219px / 237px auto;
}

.vkontakte {
    background: rgba(0, 0, 0, 0) url("/img/soc.jpg") repeat scroll 483px 185px / 250px auto;
}

.facebook {
    background: rgba(0, 0, 0, 0) url("/img/soc.jpg") repeat scroll 349px 106px / 250px auto;
}

.odnoklassniki {
    background: rgba(0, 0, 0, 0) url("/img/soc.jpg") repeat scroll 56px 60px / 250px auto;
}

.card .avatar {
    background-size: cover;
    border-bottom: 2px solid rgba(11%, 17%, 24%, 0.5);
    border-radius: 50%;
    height: 100px;
    margin: 0 auto;
    width: 100px;
}

.card .skype:before {
    content: "Skype: ";
    font-weight: 600;
}

.share.page .vk-share {
    display: inline-block;
}

.share.page .share-buttons {
    margin-top: 8px;
    text-align: center;
}

.user-active .status:before {
    content: 'Активен до ';
}

.cabinet-left {
    background: #1c2b3d none repeat scroll 0 0;
    color: #a8b7c9;
    float: left;
    min-height: 600px;
    min-width: 285px;
}

.form-group input.form-control, .form-group textarea.form-control {
    background: rgba(0, 0, 0, 0) linear-gradient(to right, #f0f0f0, white, #f0f0f0) repeat scroll 0 0;
    border: 1px solid #e0e0e0;
    box-shadow: 0 0 6px #d6d6d6 inset !important;
}

.page.invite li {
    background: white none repeat scroll 0 0;
    border: 1px solid #e7e7e7;
    box-shadow: 0 0 1px 0 #dfdfdf;
    max-width: 405px;
}
.contacts.widget > * {
    text-align: center;
}
.card-right .name {
    color: #1c2b3d;
    display: block;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 12px !important;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: center;
    width: 100%;
}

.invite .link::before {
    content: "" !important;
}

.invite a.link {
    display: inline-block !important;
    font-size: 14px;
    text-align: center !important;
    white-space: pre;
    width: 100% !important;
}

.invite .btn.btn-primary, .share-buttons > .btn.btn-primary, .step-2 > .btn-primary {
    background: #3498db none repeat scroll 0 0;
    border: 1px solid #268acd;
    border-radius: 3px;
    box-shadow: 0 1px 0 0 #64c8ff inset, 0 -2px 0 0 #4bafd6 inset, 0 1px 2px -1px #54b8cf;
    display: block !important;
    float: none !important;
    margin: 15px auto 0 !important;
    padding: 4px 10px 8px !important;
    width: 160px;
}

.card .user-about {
    background: #f9f9f9 none repeat scroll 0 0;
    border-left: 3px solid brown;
    border-radius: 0;
    margin: 10px 0 15px !important;
    padding: 10px 30px 12px;
}

.card-right {
    max-width: 100% !important;
    min-width: 343px;
}

a.avatar-container.card-left {
    display: block;
    float: none;
    margin: 0 auto 10px !important;
    overflow: hidden;
    width: 105px;
    height: 105px;
}

.invite .skype {
    margin: 5px 0;
    text-align: center;
    display: block;

}

.invite .social-networks {
    height: 41px;
    width: 100%;
}

.social-networks.widget {
    display: flex !important;
    height: 41px;
    justify-content: center;
    margin: 15px auto 0 !important;
}

.social-networks.widget.empty {
    display: block;
    height: 0 !important;
    padding: 0;
}

@media (min-width: 320px) and (max-width: 480px) {

    header {
        height: auto !important;
        max-width: 100% !important;
    }

    .header-container nav {
        height: 46px;
        padding: 0;
    }

    .menu.widget a {
        padding: 5px;
    }

    .menu.widget li {
        padding: 0;
    }

    .step-1, .step-2.candidate, .login, .vip, .share {
        width: 100%;
    }

    .card-right {
        display: inline !important;
        max-width: 100% !important;
        min-width: 0 !important;
        width: auto !important;
    }

    ul.menu.widget {
        display: block;
        float: none;
        margin: 0 auto !important;
        width: 320px !important;
    }

    .logo {
        display: block;
        float: none !important;
        margin: 10px auto !important;
        width: 120px;
    }

    .container {
        display: block !important;
        min-height: 10px !important;
    }

    a.evgeniy {
        float: none !important;
        font-weight: 400 !important;
        margin: 3px auto 0 !important;
        padding: 3px 12px 5px !important;
        text-transform: none;
        width: 240px !important;
    }

    .img.evgeniy.banner img {
        float: none;

    }

    .img.evgeniy.banner {
        background: white none repeat scroll 0 0 !important;
        height: 100%;
        margin: 0 auto;
        max-width: 100%;
        padding: 3px;
        width: 945px;
    }

    .container {
        max-width: 100%;
        padding: 3px;
    }

    .cabinet-left {
        background: #1c2b3d none repeat scroll 0 0;
        color: #a8b7c9;
        float: none !important;
        min-height: 600px;
        min-width: 100%;
    }

    .cabinet-right {
        float: none;
    }

    .cabinet-right .top-widget {
        background: #28394c none repeat scroll 0 0;
        color: white;
        display: block;
        max-width: 100%;
        padding: 3px;
    }

    .cabinet-right .top-widget .referral input {
        background: #2b3a4d none repeat scroll 0 0;
        border: 1px solid #1c2b3d;
        color: white;
        display: block;
        float: none;
        font-size: 14px;
        line-height: 14px;
        margin: 10px auto 20px;
        max-width: 100%;
        padding: 13px 20px;
        width: 100%;
    }

    .cabinet-right .top-widget .referral {
        border-right: 1px solid #49617f;
        padding: 20px 0;
    }

    .layout {
        display: block;
    }

    .header-container {
        display: block;
        margin: 0 auto !important;
        width: 100% !important;
    }

    .layout {
        display: block !important;
    }

    ul.double > li {
        width: 100%;
    }

    ul.menu.widget {
        width: 100% !important;
    }

    .header-container nav {
        align-content: center;
        display: flex;
        height: 27px;
        padding: 0;
        width: 100%;
    }

    .cabinet-right .top-widget .balance-widget {
        background: white url("/img/bal_bg.png") no-repeat scroll left bottom;
        border-radius: 4px;
        margin: 0 0 5px;
        max-width: 100%;
        min-height: 110px;
        padding: 0 10px;
        width: 100%;
    }

    .balance-content {
        margin: 10px 0 0;
    }

    .cabinet-right .top-widget .balance-widget .balance-buttons .btn-primary {
        background-color: #2980b9;
        border-color: #1970a9;
        border-radius: 40px;
        color: #ffffff;
        display: block;
        float: none;
        margin: -40px auto 40px;
        padding: 5px 20px;
        width: 140px;
    }

    .cabinet-right .content h1 {
        background: rgba(0, 0, 0, 0) url("/img/h1.png") no-repeat scroll left bottom;
        color: white;
        font-size: 24px;
        line-height: 46px;
        margin: 7px 0 30px;
        padding-left: 40%;
    }

    .balance-right .balance {
        color: #34495e;
        float: none;
        font-family: "pt serif", serif;
        font-size: 40px;
        font-weight: 100;
        line-height: 1;
        width: 36%;
    }

    .balance-right .balance-buttons .btn-success {
        background-color: #2ecc71;
        border-color: #29b665;
        border-radius: 40px;
        color: #ffffff;
        display: none;
        float: none;
        margin: 0;
        padding: 5px 20px;
    }

    .new-signups {
        border-bottom: 1px solid #e1e1e1;
        float: left;
        margin-bottom: 2%;
        width: 100%;
    }

    .cabinet-right > * {
        padding: 0;
    }

    .cabinet-dossier {
        background: white none repeat scroll 0 0;
        border: 1px solid #e8e8ea;
        float: none;
        margin-bottom: 4%;
        margin-right: 0;
        width: 100%;
    }

    .informer {
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
        color: #ffffff;
        float: left;
        height: 198px;
        margin-bottom: 2%;
        margin-right: 0;
        padding: 0;
        text-align: center;
        width: 49%;
    }

    .amount {
        font-family: pt serif, serif;
        font-size: 32px;
        font-weight: 600;
        margin-top: 10px;
    }

    .informer > i {
        border-bottom: 1px solid whitesmoke;
        display: block;
        font-family: ubuntu italic, serif;
        font-size: 16px;
        height: 64px;
        line-height: 18px;
        margin: 0 24px 4px;
        padding: 0 0 8px;
        text-align: center;
    }

    .chess, .enters {
        margin-right: 2%;
    }

    .content {
        background-attachment: scroll !important;
        background-clip: border-box !important;
        background-color: rgba(0, 0, 0, 0) !important;
        background-image: url("/img/back.jpg") !important;
        background-origin: padding-box !important;
        background-position: 0 0 !important;
        background-repeat: no-repeat;
        background-size: 100% auto;
    }
}

.cabinet-sponsor-contact .social-networks.widget {
    height: 41px;
    margin: 35px auto 0 !important;
    width: 100% !important;
}

.cabinet-sponsor .contacts .skype::before {
    content: "Skype: ";
    font-weight: 600;
}

.cabinet-sponsor .contacts .email::before {
    content: "Email: ";
    font-weight: 600;
}

.cabinet-sponsor .contacts.widget {
    font-size: 16px;
    margin: 10px 0;
    text-align: right;
}

.busy {
    color: #ffffff;
}

.cabinet-sponsor .avatar-container.widget .avatar {
    background-size: 100% auto;
    border-radius: 50%;
    display: block;
    float: left;
    height: 170px;
    margin-top: 36px;
    width: 170px;
}

.cabinet-sponsor a.avatar-container.widget {
    display: block;
    float: left;
    height: 100px;
    width: 170px;
}

.cabinet-sponsor-name {
    color: white;
    display: block;
    float: left;
    text-align: right;
    width: 80%;
}

.cabinet-sponsor-contact {
    float: left;
    width: 100%;
}

.cabinet-sponsor-name {
    color: white;
    display: block;
    float: left;
    text-align: right;
    width: 355px;
}

.cabinet-sponsor .user-about.widget {
    background: #1c2b3d none repeat scroll 0 0;
    border-left: 10px solid #fdad2a;
    color: white;
    margin-top: 14px;
    padding: 10px 25px;
}

.user-about.widget.empty {
    display: none;
}

.outdoor footer {

}

.container {
    display: flex;
}

.page.step-1.signup {
    max-height: 550px;
}

.page.admin ul {
    margin: 0;
    padding: 0;
}

.page.admin .menu.widget li a {
    background: #1c2b3d none repeat scroll 0 0;
    border: 1px solid #2c3b4d;
    border-radius: 3px;
    box-shadow: 0 1px 0 0 #3c4b5d inset, 0 -3px 1px -1px #2c3b4d inset, 0 0 3px rgba(0, 0, 0, 0.3);
    float: left;
    padding: 10px;
    text-align: center;
    width: 190px;
    color: #ffffff;
}

.page.admin .menu.widget li {
    float: left;
    list-style: outside none none;
    margin: 0 10px 20px;
}

#loading > img {
    min-width: 64px;
}

.outdoor .busy {
    color: black;
    height: auto;
    margin: 100px auto 0;
}

.vip-icon.vip-active {
    display: inline-block;
    background: url("/images/vip.svg") center no-repeat;
    background-size: 100%;
    width: 1em;
    height: 1em;
}

ul.double {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

ul.double > li {
    list-style: outside none none;
    margin-bottom: 15px;
    padding: 30px;
    width: calc(50% -8px);
}

#nax .float-vertical {
    position: fixed;
    top: 8px;
}

.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.layout .container {
    flex: 1;
}

header > .header-container > img {
    margin-top: -40px;
}

.tree, .tree:hover, .tree:active , .tree:focus  {
    background: #2980b9 none repeat scroll 0 0;
    border: 1px solid #1970a9;
    border-radius: 3px;
    box-shadow: 0 0 3px -1px #49a0d9 inset;
    color: white;
    display: block;
    margin: 10px 0;
    padding: 10px 15px 11px;
    text-align: center;
    text-transform: uppercase;
    width: 180px;
}

.viewport {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.page.success {
    background-color: white;
    text-align: center;
}

.page.success .busy {
    color: black;
}

.page.success .busy img {
    min-width: 64px;
}
